.containerImg {
    position: relative;
    text-align: center;
    color: white;
  }
  .textOnImg {
    left: 50%;
    position: absolute;
    top: 40%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: black;
    padding: 30px;
    opacity: 0.8;
  }