.onHover:hover{
     transform: scale(1.5);
}
.tran{
    transition: transform .2s;
}
.card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    min-width: 200px;
  }    
  
  .container {
    padding: 2px 16px;
  }

  .editDelete {
      position: absolute;
      width: 100%;
      justify-content: space-between;
      top: 0;
      display: flex;
  }

 
  @media only screen and (min-width:768px) {
    .card{
      max-width: 200px;
    }
  }
  @media only screen and (min-width:1080px) {
    .card{
      max-width: 300px;
    }
  }

  .scr::-webkit-scrollbar {display:none;}
  .scr{
    -ms-overflow-style: none;
     scrollbar-width: none;  
     display: flex;
     white-space: nowrap;
  }
  .scr .card{
    transition: transform .2s;
    max-width: 200px;
  }
  .scr .card:hover{
    transform: scale(1.1);
    overflow: hidden;  
  
  }