.onHover:hover{
     transform: scale(1.5);
}
.tran{
    transition: transform .2s;
}
.card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    min-width: 200px;
  }    

  .containerImg {
    position: relative;
    text-align: center;
    color: white;
  }
  .textOnImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .container {
    padding: 2px 16px;
  }
/* movie details page css */

.flexItem img{
max-width: 100%;
box-shadow:black 10px 10px 10px;

}
.flexItem{
  width: 100%;
  padding: 1rem;
}
.flexItem:nth-child(2){
  padding: 3rem 2rem;
  background-color:black;
  opacity: 0.8;
  
}
 
  @media only screen and (min-width:768px) {
    .card{
      max-width: 200px;
    }
    .flexItem img{
      max-width: 70%;
      box-shadow:black 10px 10px 10px;
      
      }
      .flexItem{
        width: 50%;
        padding: 1rem;
      }
  }
  @media only screen and (min-width:1080px) {
    .card{
      max-width: 300px;
    }
    
  }

  .scr::-webkit-scrollbar {display:none;}
  .scr{
    -ms-overflow-style: none;
     scrollbar-width: none;  
     display: flex;
     white-space: nowrap;
  }
  .scr .card{
    transition: transform .2s;
    max-width: 200px;
  }
  .scr .card:hover{
    transform: scale(1.1);
    overflow: hidden;  
  
  }